<div class="title p-4 mb-3">RXJS Replay Subject</div>
<div style="padding-left: 40px; padding-right: 40px;">
  <div class="row">
    <div class="col-6">
      <div style="font-weight: bold; font-size: 20px;">
        {{methodInterval? 'Interval Started' : 'Add Video'}}
      </div>
    </div>
    <div class="col-6" style="text-align: end;">
      <button class="btn btn-warning" (click)="toogleMethod()">Toogle Button</button>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="!methodInterval">
    <div class="col-md-3"></div>
    <div class="col-md-4" style="text-align: center;">
      <input type="text" placeholder="Enter Video Name" class="form-control" #video>
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" (click)="onVideoAdd(video)">Add Video</button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <div>
        User I
      </div>
      <hr />
      <ul style="margin: 0; padding: 0;">
        <li style="width: 100%; background: #d3e8e7; padding: 10px; border-radius: 5px; margin-bottom: 5px;"
          *ngFor="let item of userOne">
          {{item}}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div>
        User II
      </div>
      <hr />
      <ul style="margin: 0; padding: 0;">
        <li style="width: 100%; background: #d3e8e7; padding: 10px; border-radius: 5px; margin-bottom: 5px;"
          *ngFor="let item of userTwo">
          {{item}}
        </li>
      </ul>
      <button class="btn btn-success mt-2" (click)="user2Subs()" [ngClass]="subscribeOne? 'btn-danger' : 'btn-success'">
        {{subscribeOne? 'Unsubscribe' : 'Subscribe'}}
      </button>
    </div>
    <div class="col-md-4">
      <div>
        User III
      </div>
      <hr />
      <ul style="margin: 0; padding: 0;">
        <li style="width: 100%; background: #d3e8e7; padding: 10px; border-radius: 5px; margin-bottom: 5px;"
          *ngFor="let item of userThree">
          {{item}}
        </li>
      </ul>
      <button class="btn btn-success mt-2" (click)="user3Subs()" [ngClass]="subscribeTwo? 'btn-danger' : 'btn-success'">
        {{subscribeTwo? 'Unsubscribe' : 'Subscribe'}}
      </button>
    </div>
  </div>
</div>
