.title {
  color: #d81b60;
  padding: 10px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.card-body {
  padding: 20px;
  color: #0A0A0A;
  box-shadow: #0A0A0A;
}

a {
  text-decoration: none;
}

h5 {
  justify-content: center;
  min-height:300px;
  display: flex;
  align-items: center;
}
