<!-- subject -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="title">RxJS Subject</h1>
    </div>
  </div>
  <div class="row">
    <div class="card-body col-12 col-md-6 col-lg-4 col-xl-3">
      <a class="card" routerLink="/subject">
        <div class="card-body">
          <h5 class="card-title">Basic Subject</h5>
        </div>
      </a>
    </div>
    <div class="card-body col-12 col-md-6 col-lg-4 col-xl-3">
      <a class="card" routerLink="/behaviorSubject">
        <div class="card-body">
          <h5 class="card-title">Behavior Subject</h5>
        </div>
      </a>
    </div>
    <div class="card-body col-12 col-md-6 col-lg-4 col-xl-3">
      <a class="card" routerLink="/replaySubject">
        <div class="card-body">
          <h5 class="card-title">Replay Subject</h5>
        </div>
      </a>
    </div>
    <div class="card-body col-12 col-md-6 col-lg-4 col-xl-3">
      <a class="card" routerLink="/asyncSubject">
        <div class="card-body">
          <h5 class="card-title">Async Subject</h5>
        </div>
      </a>
    </div>
    <div class="card-body col-12 col-md-6 col-lg-4 col-xl-3">
      <a class="card">
        <div class="card-body">
          <h5 class="card-title">Card 5</h5>
        </div>
      </a>
    </div>
    <!-- Add additional card columns here as needed -->
  </div>
</div>
