<div class="title p-4">RXJS Subject</div>

<div>Username: {{username}}</div>
<div class="row">
  <div class="col-md-4">
    <app-component1></app-component1>
  </div>
  <div class="col-md-4">
    <app-component2></app-component2>
  </div>
  <div class="col-md-4">
    <app-component3></app-component3>
  </div>
</div>

<div class="title p-4">RXJS Behavioral Subject</div>

<div>Calories: {{calories}}</div>
<div class="row">
  <div class="col-md-4">
    <app-behave1></app-behave1>
  </div>
  <div class="col-md-4">
    <app-behave2></app-behave2>
  </div>
  <div class="col-md-4">
    <app-behave3></app-behave3>
  </div>
</div>
